footer{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
}

.Footer{
  width: 79.5%;
}

.link_affter{
  text-decoration: none;
  color: #38D6BA;
}

.link_affter:hover{
  text-decoration:underline;
  color: black;
}
